.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid #80808047;
  font-size: 1rem;
}
/** min-width should be same as in LinkCard.css & contentWrapper.css*/
@media screen and (min-width: 750px) {
  .card {
    width: 30rem;
  }


}

.card.small {
  width: 75%;
  font-size: 1em;
}

.card.small .price-container {

}
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    min-width: 3em;
    height: 3em;
    min-height: 3em;
    border-radius: 100%;
    box-shadow: 0px 0px 1.5px 0px #565656a3;
    border: 0.5px solid rgb(178 178 178 / 53%);
    margin-left: 2px;
    /* background-image: url(../../assets/icons/icons_raw/house.png); */
    /* background-size: cover; */
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53%;
    height: 80px;
    padding: 0 10px;
    margin-left: 7px;
    align-items: flex-start;
  }

  .price-container p {
    width: 100%;
    text-align: right;
  }
  
  .title {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
    overflow: hidden;
    width: 85%;
    white-space: pre;
    text-overflow: ellipsis;
  }
  
  .date {
    font-size: 0.75em;
    margin: 4px 0;
  }
  
  .tags {
    color: black;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    font-size: 10px;
    font-weight: 500;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 16px;
    background-color: #E5E7EB;
    color: #7b7b7b;
  }
  
  .price-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    height: 80px;
  }
  
  .price {
    font-size: 0.95em;
    font-weight: 500;
    margin: 0;
  }
  
  .red {
    color: red;
  }

  .green {
    color: green;
  }