.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}



.card:nth-child(2)::before
{
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  background-color: #80808047;
  position: absolute;
  transform: translateY(-45px);
  left: 0px;
}

  .card::after {
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #80808047;
    position: absolute;
    transform: translateY(45px);
    left: 0px;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    height: 80px;

  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 0 10px;
    margin-left: 12px;
    align-items: flex-start;
  }
  
  .title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
  
  .date {
    font-size: 12px;
    margin: 4px 0;
  }
  
  .tags {
    color: black;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    font-size: 10px;
    font-weight: 500;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 16px;
    background-color: #E5E7EB;
    color: #7b7b7b;
  }
  
  .price-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10rem;
    height: 80px;
  }
  
  .price {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
  
  .red {
    color: red;
  }

  .green {
    color: green;
  }