.contentWrapper {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 6rem 1rem;
    position: relative;
    top: 0px;
    margin-top: 3rem;
    height: fit-content;
}

/**min-width should be same as in LinkCard.css & Card.css */
@media screen and (min-width: 750px) {
    .contentWrapper {
        width: 30rem;
        margin: 0 auto;
        margin-top: 3rem !important;
    }
}