.filter {
    margin: 1rem 0;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
   select:focus {
    outline: none;
  }
  
  select:hover{cursor: pointer;}
  
  select
  {
    cursor: pointer;
    font-family: Poppins;
    color: #333333;
    padding: 10px 16px;
    border-radius: 4px;
    border: 0;
    border-right: 16px solid transparent;
    -webkit-box-shadow: 0px 2px 5px 4px rgba(212, 212, 212, 0.18);
    -moz-box-shadow: 0px 2px 5px 4px rgba(212, 212, 212, 0.18);
    box-shadow: 0px 2px 5px 4px rgba(212, 212, 212, 0.18);
  }

