#hamburger {
    display: block !important;
    z-index: 2;
    cursor: pointer;
    width: 35px;
    padding-right: 1rem;
}

#hamburger.closed {
    display: block;
    transform: translateY(-8px);
}

#hamburger.closed div:first-child {
    transform: rotate(45deg) translate(1px, 0px);
    transform-origin: left center;
}

#hamburger.closed div:nth-child(3) {
    display: none;
}

#hamburger.closed div:nth-child(2) {
    transform: rotate(-45deg) translate(-6px, 0px);
    /* transform-origin: left; */
}

#hamburger div {
    width: inherit;
    height: 2px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2px;
    transition: transform 250ms;
    /* box-shadow: 0px 0px 2px rgb(80, 80, 80); */
}