.bb-inputWrapper {
    margin-bottom: 0.5rem;
}

.bb-input-label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.bb-input {
    height: 2.1rem;
    border: 1px solid #D5D8DE;
    border-radius: 4px;
    padding: 0.1rem 0.8rem 0.1rem;
    margin-bottom: 0.6rem;
    /* transition: border 50ms; */
}

.medium {
    width: 50%;
}

.bb-input:focus {
    outline: none !important;
    border: 1px solid #072c7cff !important;
    box-shadow: 0px 0px 3px rgba(7, 44, 124, 0.671);
}

.large {
    width: 90%;
}

.inputCollection {
    margin-bottom: 1.5rem;
}

.inputCollection + .inputCollection, .bb-input + .inputCollection, .inputCollection + .bb-input-label {
    margin-top: 1.5rem;
}

.currency {
    padding-left: 2.5rem;
}

.currency:focus + .currencySymbol {
    color: rgb(0, 175, 0);
    font-weight: 500;
    /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.527); */
}

.currency.medium {
    width: calc(50% - 2.5rem) !important;

}

.currency.large {
    width: calc(90% - 2.5rem) !important;
}
.currency.small {
    width: calc(30% - 2.5rem) !important;
}

.currencySymbol {
    position: relative;
    left: 0.6rem;
    bottom: 2.65rem;
    color: #797979;
    font-size: 1.0rem;
    width: 1rem;
}