.splash-screen-container{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(185 252 105);
    opacity: 1;
}

.hide {
    display: block;
    animation-name: hide-splash-screen;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    opacity: 1;

}

@keyframes hide-splash-screen {
    to {
        opacity: 0;
        display: none;
    }
}


#logo-container {
    background-image: url(../../src/assets/icons/icons_raw/budgetbuddy_own_logo.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}