@font-face {
  font-family: "Montserrat";
  src: url("../public//Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../public//Poppins/Poppins-Regular.ttf") format("truetype");
}

/* html, body, #app, #root, #app>div {
  height: 100%;
} */

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}
